### Step 1: Create Transaction Dataset

In [1]:
import pandas as pd

# Sample transaction data
dataset = [
    ['milk', 'bread', 'eggs'],
    ['milk', 'bread'],
    ['milk', 'eggs'],
    ['bread', 'eggs'],
    ['milk', 'bread', 'eggs'],
    ['bread']
]

# Convert to one-hot encoded DataFrame
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_array = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_array, columns=te.columns_)
df

   bread   eggs   milk
0   True   True   True
1   True  False   True
2  False   True   True
3   True   True  False
4   True   True   True
5   True  False  False

###  Step 2: Apply Apriori to get Frequent Itemsets

In [2]:
from mlxtend.frequent_patterns import apriori

# min_support = 0.5 means itemset appears in at least 50% of transactions
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
print(frequent_itemsets)

    support       itemsets
0  0.833333        (bread)
1  0.666667         (eggs)
2  0.666667         (milk)
3  0.500000  (eggs, bread)
4  0.500000  (milk, bread)
5  0.500000   (milk, eggs)

###  Step 3: Generate Association Rules

In [3]:
from mlxtend.frequent_patterns import association_rules

# min_threshold = confidence threshold
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# Sort by lift
rules = rules.sort_values(by='lift', ascending=False)

# Show top rules
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

  antecedents consequents  support  confidence   lift
2      (milk)      (eggs)      0.5        0.75  1.125
3      (eggs)      (milk)      0.5        0.75  1.125
0      (eggs)     (bread)      0.5        0.75  0.900
1      (milk)     (bread)      0.5        0.75  0.900